

<div class="home">
        <p><h1>You are not permitted to access goal</h1> </p>
        <a href="{% url 'tobmag1scrumy:home' %}">Back To Homepage!</a>
    
</div>
<style>
    
        
    .home {
            margin: 0 auto;
            margin-top: 60px;
            margin-bottom: 120px;
            text-align: center;
        }
    
    .home a {
            text-decoration: none;
            padding: 10px 30px;
            background-color: maroon;
            color: white;
        }
    
</style>