<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Goal Successful</title>
</head>
<body>


<div class="home">
    <h2><p>Goal has been moved successfully</p></h2>
    <p><a href="{% url 'tobmag1scrumy:home' %}">Back to Homepage</a></p>
    
</div>
<style>
    
        
    .home {
            margin: 0 auto;
            margin-top: 60px;
            margin-bottom: 120px;
            text-align: center;
        }
    
    .home a {
            text-decoration: none;
            padding: 10px 30px;
            background-color: maroon;
            color: white;
        }
    title {
        margin: 0 auto;
            margin-top: 60px;
            margin-bottom: 120px;
            text-align: center;
    }
    
</style>
</body>
</html>