

<title> Move Goal </title>
<h2>MOVE GOAL STATUS</h2>



<div class="goaldetail">
    <h3>GOAL DETAILS</h3><br>
    <h4> Currently Logged in as {{currentuser}} - <span class="group">{{group}}</span></h4>
    <p>Goal ID: {{goal.goal_id}}</p>
    <p>Goal Name: {{goal.goal_name}}</p>
    <p>Goal Status: {{goal.goal_status}}</p>

</div>


{% if form.errors %}
<p class="errormessage">
    <strong> All Fields are requireds, please try again.</strong>
</p>
{% endif %}

<div class="movegoal-form">

    <form action="" method="POST">
        {% csrf_token %}
        <legend>Move Goal Form</legend>
        {{ form.as_p }}
        <div class="movegoal-btn">
            <button type="submit">Move Goal</button>
        </div>
    </form>
</div>
<div class="home">
        <a href="{% url 'tobmag1scrumy:home'%}">Click here to access the Homepage</a>
    
    </div>
<div class="logout">
    <a href="{% url 'tobmag1scrumy:logout'%}">Click here to Logout</a>

</div>
</body>

</html>


<style lang="">

h2 {
    text-align: center;
}
.goaldetail {
    margin: 0 auto;
    text-align: center;
}

.movegoal-form {
    text-align: center;
    padding: 30px;
}

.errormessage {
    color: red;
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}

.movegoal-btn {
    text-align: center;
}

.forminp {
    margin-top: 15px;
    margin-bottom: 15px;
}

legend {
    margin-bottom: 40px;
    font-size: 40px;
    color: mediumseagreen;
}
.logout {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.logout a {
    text-decoration: none;
    padding: 10px 30px;
    background-color:  rgb(18, 70, 20);
    color: white;
}

.home {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.home a {
    text-decoration: none;
    padding: 10px 30px;
    background-color:  rgb(18, 70, 20);
    color: white;
}

/* Full-width inputs */
input[type=text],
input[type=password],
input[type=email],
select {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.helptext {
    display: block;
    font-size: 12px;
    color: gray;
}

label {
    font-size: 16px;
    font-weight: 400;
    display: block;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 400px;
}
.group{
    color: #4CAF50;
}
</style>